button {
  background: none;
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid hsl(258, 14%, 76%);
  font-size: 14px;
  letter-spacing: 1px;
  transition-duration: 0.2s;
  font-weight: 700;
}

nav button {
  width: 80%;
  max-width: 415px;
  margin: 30px auto 0;
  font-size: 16px;
}

@media (min-width: 1200px) {
  nav button {
    margin: 0;
    width: auto;
    max-width: none;
    color: hsl(270, 9%, 17%);
    border: 2px solid hsl(270, 9%, 17%);
    font-size: 14px;
    margin-right: 25px;
  }

  button:hover {
    cursor: pointer;
    background: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
  }

  nav button:hover {
    background: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
  }
}
