section {
  margin: 300px 0;
  padding: 0 20px;
}

.features-section h1 {
  color: hsl(256, 26%, 20%);
}

.features-section .line {
  border-top: 1px solid hsl(273, 4%, 51%);
}

.features {
  margin-top: 70px;
}

@media (min-width: 1200px) {
  section {
    padding: 0 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-section {
    margin-bottom: 100px;
  }

  .features {
    display: flex;
  }

  .features > * {
    flex: 1;
  }
}
