footer {
  margin-top: 150px;
  padding-bottom: 20px;
  background: url('../../assets/images/bg-pattern-footer-mobile.svg') no-repeat
    hsl(0, 0%, 98%);
}

footer > div:first-child {
  padding: 70px 0 40px;
  margin: 0 25px;
  border-bottom: 1px solid hsl(258, 14%, 76%);
}

footer > div:nth-child(2) {
  margin-bottom: 50px;
}

footer img {
  display: inline-block;
}

.social {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.social div {
  width: 24px;
  height: 24px;
}

.facebook {
  background: url('../../assets/images/icon-facebook.svg');
}
.social .twitter {
  height: 20px;
  background: url('../../assets/images/icon-twitter.svg');
}
.pintrest {
  background: url('../../assets/images/icon-pinterest.svg');
}
.instagram {
  background: url('../../assets/images/icon-instagram.svg');
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 465px) {
  footer > div:first-child {
    max-width: 415px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  footer > div:first-child {
    max-width: 1200px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social {
    margin-top: 0;
  }

  footer > div:nth-child(2) {
    padding: 0 50px;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1300px) {
  footer > div:first-child {
    margin: 0 auto;
  }
}
