.banner {
  background: hsl(256, 26%, 20%);
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
}

.content {
  padding: 100px 20px;
  background: url('../../assets/images/bg-pattern-intro-left-mobile.svg')
    no-repeat;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: hsl(0, 0%, 98%);
}

p {
  color: hsl(258, 14%, 76%);
  line-height: 25px;
  margin: 30px 0;
}

.left-intro {
  display: none;
}

.right-intro {
  width: 124px;
  height: 330px;
  background: url('../../assets/images/bg-pattern-intro-right-mobile.svg');
  position: absolute;
  bottom: -180px;
  right: 0;
}

.line {
  width: 170px;
  margin: 0 auto 30px;
}

.banner .line {
  display: none;
  border-top: 1px solid hsl(273, 4%, 51%);
}

@media (min-width: 1200px) {
  .banner-wrapper {
    display: flex;
    padding: 100px 50px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 20px;
  }

  .banner-wrapper > * {
    flex: 1;
  }

  .banner-wrapper > div:first-child {
    order: 1;
  }

  .content {
    padding: 0;
    background: none;
  }

  .banner-wrapper img {
    margin-bottom: -255px;
    margin-left: auto;
    max-width: 500px;
  }

  .left-intro {
    display: block;
    width: 195px;
    height: 504px;
    background: url('../../assets/images/bg-pattern-intro-left-desktop.svg');
    position: absolute;
    bottom: -370px;
  }
  .right-intro {
    width: 436px;
    height: 593px;
    background: url('../../assets/images/bg-pattern-intro-right-desktop.svg');
    top: -90px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .line {
    margin-left: 0;
  }

  .banner .line {
    display: block;
  }
}
